<body>
  <header class="header">
      <div>
          <h2 class="text_head">Nombre del sistema</h2>
      </div>
      <div class="header_sub">
          <h2 class="text_head">{{nombreUsuario}}</h2>
          <div><button (click)="form()" class="btn_primary btn_exit">Salir</button></div>
      </div>
  </header>
  <main class="container contenedor_menu">
      <div class="container_menu">
          <section class="text_fras">
              <h2 class="text_title">Frase del dia</h2>
              <div>
                  <p class="text_parr">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quia, vel quasi, ducimus
                      modi obcaecati officia atque quod accusamus eveniet voluptatem temporibus velit
                  </p>
              </div>
          </section>
          <section class="cont_btn">
              <div>
                  <div class="btn_menu btn_usuario"><button class="btn_primary" routerLink="/usuarios">Usuario</button></div>
                  <div class="btn_menu btn_product"><button class="btn_primary"routerLink="/productos">Producto</button></div>
                  <div class="btn_menu stock_product"><button class="btn_primary" routerLink="/stock">Stock de productos</button></div>
              </div>
          </section>
      </div>
  </main>
  <footer class="footer">
      <h2>Derechos reservados</h2>
  </footer>
</body>
