
<body>
    <main class="container">
        <div class="contenedor">
            <div class="form">
                <div class="form_sec">
                    <h2 class="form_name">ContabilidadSinRebu</h2>
                    <div class="form_imput">
                        <h2 class="form_title">Iniciar Sesion</h2>
                        <div class="group_imput group_imput_logic">
                          <form #form="ngForm">
                            <input ngModel name="user" type="mail" class="form_input" placeholder="Escribe tu correo">
                            <input ngModel name="password" type="password" class="form_input" placeholder="Escribe tu contraseña">
                          </form>
                        </div>
                        <div class="btn">
                            <button (click)="login(form)" class="btn_primary" id="start">Iniciar</button>
                        </div>
                        <div class="btn">
                            <button class="enlace" id="recup">Recuperar contraseña</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

</body>


